a:link 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, verdana; 
	TEXT-DECORATION: none; 
	color: #218877;
}
a:visited 
{
	FONT-SIZE: 11px; 
	COLOR: gray; 
	FONT-FAMILY: Tahoma, verdana; 
	TEXT-DECORATION: none;
}
a:hover 
{
	FONT-SIZE: 11px; 
	color: #99CCFF; 
	FONT-FAMILY: Tahoma, verdana; 
	TEXT-DECORATION: none;
} 
/*a:active 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, verdana; 
	TEXT-DECORATION: none; 
	COLOR: gray;
}*/ 
TD 
{
	FONT-SIZE: 11px; 
	COLOR: BLACK; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
}
.zawo 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:#8f8f8f;
}
.zawna 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: TahGaramondelvetica,Arial;
	color:red;
	FONT-WEIGHT: bold;
}
.ira 
{
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	BORDER-LEFT: black 1px solid; 
	BORDER-BOTTOM: black 1px solid;
}
.wyl 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Tahoma, Helvetica, Arial; 
	color:blue;
	FONT-WEIGHT: bold;
}
.nag1w 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:white;
}
.nag1wb 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:white;
	FONT-WEIGHT: bold;
}
.nag2wb 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:white;
	FONT-WEIGHT: bold;
}
.nag1bb 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:black;
	FONT-WEIGHT: bold;
}
.nag1b 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:black;
}
.nag1bl 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:blue;
}
.nag1s 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:#8f8f8f;
}
.nag2w 
{
	FONT-SIZE: 13px; 
	FONT-FAMILY: Verdana,Arial;
	color:white;
	FONT-WEIGHT: bold;
}
.nag2b 
{
	FONT-SIZE: 14px; 
	FONT-FAMILY: Verdana, Tahoma, Helvetica, Arial;
	color:black;
}
.nag2bb 
{
	FONT-SIZE: 14px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:black;
	FONT-WEIGHT: bold;
}
.nag2bl 
{
	FONT-SIZE: 14px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:blue;
}
.nag2s 
{
	FONT-SIZE: 14px; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
	color:#8f8f8f;
}
.poleca 
{
	FONT-SIZE: 11px; 
	COLOR: BLACK; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
}
.polecab 
{
	FONT-SIZE: 11px; 
	COLOR: WHITE; 
	FONT-FAMILY: Tahoma, Helvetica, Arial;
}
.tdnag
{
	background-color: #2865b5;
}
.cenapop
{
	color: red;
	text-decoration: line-through;
}