A:hover {text decoration:bold; color:#CC3434;} 
A:link {text-decoration:underline; color:blue;} 
TD {FONT-SIZE: 11 px; COLOR: BLACK; FONT-FAMILY: Arial}
textarea {FONT-SIZE: 11px; COLOR: BLACK; FONT-FAMILY: Arial, Helvetica, sans-serif}
.zawo {FONT-SIZE: 11 px; FONT-FAMILY: Arial;color:#8f8f8f;}
.zawna {FONT-SIZE: 11 px; FONT-FAMILY: Arial;color:red;FONT-WEIGHT: bold;}
.wyl {FONT-SIZE: 11 px; FONT-FAMILY: Arial;color:blue;FONT-WEIGHT: bold;}
.nag1w {FONT-SIZE: 12 px; FONT-FAMILY: Arial;color:white;}
.nag1wb {FONT-SIZE: 12 px; FONT-FAMILY: Arial;color:white;FONT-WEIGHT: bold;}
.nag1b {FONT-SIZE: 12 px; FONT-FAMILY: Arial;color:black;}
.nag1bl {FONT-SIZE: 12 px; FONT-FAMILY: Arial;color:blue;}
.nag1s {FONT-SIZE: 12 px; FONT-FAMILY: Arial;color:#8f8f8f;}
.nag2w {FONT-SIZE: 14 px; FONT-FAMILY: Arial;color:white;}
.nag2b {FONT-SIZE: 14 px; FONT-FAMILY: Arial;color:black;}
.nag2bb {FONT-SIZE: 14 px; FONT-FAMILY: Arial;color:black;FONT-WEIGHT: bold;}
.nag2bl {FONT-SIZE: 14 px; FONT-FAMILY: Arial;color:blue;}
.nag2s {FONT-SIZE: 14 px; FONT-FAMILY: Arial;color:#8f8f8f;}

