<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulamin Aplikacji "Check Yourself"</title>

</head>

<body>
    <h2>O nas czyli poznaj zespół "Check Yourself"</h2>
    <div id="section">
        <p>Witaj na platformie "Check Yourself" – innowacyjnej aplikacji stworzonej w ramach projektu inżynierskiego na
            Uniwersytecie Adama Mickiewicza w Poznaniu. Naszym celem jest nie tylko sprawdzanie umiejętności
            użytkowników, ułatwianie procesu rekrutacyjnego czy udostępnianie ofert pracy, ale także tworzenie
            przestrzeni, w której każdy może wyrazić swoje umiejętności i zdolności.</p>
    </div>
    <h2>Twórcy Aplikacji:</h2>
    <div id="section">
        <h3>Bartosz Korzańki</h3>
        <p>Z pasją do nowoczesnych technologii oraz rozwiązań z zakresu informatyki, Bartosz ma za zadanie zapewnić użytkownikom "Check
            Yourself" przyjazne i efektywne doświadczenia. Jego kreatywne podejście wpływa na estetykę oraz
            funkcjonalność aplikacji.</p>
    </div>
    <div id="section">
        <h3>Bartosz Jackowiak</h3>
        <p>Entuzjasta programowania i projektowania interfejsów, Bartosz przyczynił się do
            stworzenia solidnej i intuicyjnej platformy. Jego głównym celem jest dostarczenie użytkownikom narzędzia,
            które realnie wspiera ich rozwój zawodowy.</p>
    </div>
    <div id="section">
        <h3>Kacper Wybierała</h3>
        <p> Specjalista od baz danych oraz bezpieczeństwa informatycznego, Kacper dba o to, aby dane użytkowników były
            bezpieczne i poufne. Jego zadaniem jest również rozwijanie funkcji związanych z tworzeniem portfolio i
            integracją z ofertami pracy.</p>
    </div>
    <h2></h2>
    <div id="section">
        <p>Wierzymy, że "Check Yourself" to nie tylko narzędzie do sprawdzania umiejętności, ale także miejsce, gdzie
            wszyscy – zarówno użytkownicy, jak i firmy – mogą znaleźć wartość w procesie rozwoju zawodowego. Dążymy do
            ciągłego doskonalenia aplikacji i dostarczania innowacyjnych rozwiązań, aby sprostać oczekiwaniom naszych
            użytkowników.</p><br>
        <p>Dołącz do naszej społeczności i razem sprawdźmy potencjał, który "Check Yourself" może dla Ciebie otworzyć!
        </p>
    </div>
</body>

</html>