<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulamin Aplikacji "Check Yourself"</title>
</head>

<body>
    <h2>Regulamin Aplikacji "Check Yourself"</h2>

    <div id="section">
        <h3>§ 1. Postanowienia ogólne</h3>
        <p>Aplikacja "Check Yourself" (dalej nazywana "Aplikacją") jest platformą internetową służącą do sprawdzania
            umiejętności użytkowników, ułatwiania procesu rekrutacji oraz udostępniania ofert pracy. Aplikacja umożliwia
            również tworzenie portfolio zarówno dla użytkowników, jak i firm.

            Właścicielami Aplikacji są Bartosz Jackowiak, Bartosz Korzański oraz Kacper Wybierała (dalej nazywani
            "Właścicielami").

            Korzystanie z Aplikacji oznacza akceptację niniejszego regulaminu.
        </p>
    </div>
    <div id="section">
        <h3>§ 2. Rejestracja i Konto Użytkownika</h3>
        <p>Korzystanie z pełnych funkcji Aplikacji wymaga rejestracji i utworzenia konta użytkownika.

            Podczas rejestracji użytkownik zobowiązuje się do podawania prawdziwych i aktualnych danych.

            Każdy użytkownik może posiadać tylko jedno konto.

            Użytkownik ponosi pełną odpowiedzialność za zachowanie poufności swojego hasła.

            W przypadku chęci zmiany hasła bądź jego utraty użytkownik może napisać do pomocy technicznej na adres Email
            checkyourself@gmail.com.

            Użytkownik ponosi pełną odpowiedzialność za udostepnione dane w aplikacji.
        </p>

    </div>
    <div id="section">
        <h3>§ 3. Umiejętności i Quizy</h3>
        <p>Aplikacja umożliwia użytkownikom sprawdzanie swoich umiejętności poprzez rozwiązywanie quizów dostępnych na
            platformie.

            Wyniki quizów są prywatne i dostępne jedynie dla użytkownika, chyba że użytkownik zdecyduje się udostępnić
            je innym użytkownikom.
        </p>

    </div>
    <div id="section">
        <h3>§ 4. Oferty Pracy</h3>
        <p>Aplikacja udostępnia oferty pracy dostępne dla zarejestrowanych użytkowników.

            Właściciele Aplikacji nie ponoszą odpowiedzialności za treść ofert pracy zamieszczonych przez użytkowników.
        </p>

    </div>
    <div id="section">
        <h3>§ 5. Portfolio Użytkownika i Firmy</h3>
        <p>Użytkownicy mają możliwość tworzenia swojego portfolio, zawierającego informacje o ich umiejętnościach,
            doświadczeniu oraz osiągnięciach.

            Firmy mogą tworzyć profile, prezentujące informacje o swojej działalności, ofertach pracy oraz oczekiwaniach
            wobec kandydatów.
        </p>
    </div>
    <div id="section">
        <h3>§ 6. Postanowienia Końcowe</h3>
        <p>Właściciele Aplikacji zastrzegają sobie prawo do zmiany regulaminu w dowolnym czasie. Zmiany te będą
            publikowane na stronie Aplikacji.

            Użytkownicy zostaną powiadomieni o zmianach w regulaminie poprzez wiadomość na swoje konto.

            W przypadku naruszenia postanowień regulaminu, Właściciele Aplikacji mają prawo zablokować konto
            użytkownika.
        </p>

    </div>

    <div id="section">
        <h3>§ 7. Ochrona Danych Osobowych - RODO i Polityka Prywatności</h3>
        <p>Aplikacja zobowiązuje się do ochrony prywatności użytkowników zgodnie z obowiązującym prawem, w tym z
            Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony
            osób fizycznych w związku z przetwarzaniem danych osobowych (RODO).

            Użytkownik wyraża zgodę na przetwarzanie swoich danych osobowych zgodnie z Polityką Prywatności dostępną na
            stronie Aplikacji.

            Aplikacja zbiera i przetwarza dane osobowe użytkowników w celu umożliwienia rejestracji, logowania,
            korzystania z funkcji Aplikacji oraz dostępu do ofert pracy i quizów.

            Właściciele Aplikacji gwarantują poufność przetwarzanych danych osobowych i podejmą wszelkie niezbędne
            środki w celu ich ochrony.

            Użytkownik ma prawo w każdym czasie dostępu do swoich danych osobowych, ich poprawiania, usunięcia lub
            ograniczenia przetwarzania.

            Aplikacja używa plików cookies w celu poprawy jakości świadczonych usług. Szczegółowe informacje na temat
            cookies znajdują się w Polityce Prywatności.

            W razie pytań lub wątpliwości dotyczących przetwarzania danych osobowych, użytkownik może skontaktować się z
            administracją za pomocą formularza dostępnego na stronie Aplikacji.

            Rejestracja i korzystanie z Aplikacji oznacza akceptację Polityki Prywatności oraz wyrażenie zgody na
            przetwarzanie danych osobowych zgodnie z RODO.

            Niniejszy paragraf stanowi integralną część regulaminu Aplikacji "Check Yourself" i wchodzi w życie
            jednocześnie z nim.
        </p>

    </div>
</body>

</html>