mat-toolbar .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    & .down {
        color: #059E8B;
        font-size: 15px;
        margin-right: 15px;
        font-weight: 400;
    }

    & .up {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        color: white;
        text-transform: Uppercase;
    }
}

mat-toolbar .toolbarIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-toolbar {
    justify-content: space-between;
}

mat-toolbar .changeLanguageButton button {
    margin-right: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    scale: 1.5;
}

mat-toolbar .changeLanguageButton button:hover {
    filter: invert(55%) sepia(98%) saturate(4756%) hue-rotate(148deg) brightness(100%);
}

mat-toolbar .headerIcon {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-weight: 400;
}

.changeLanguageButton {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(103%);
    zoom: 0.08;
    margin-right: 250px;
    margin-top: 180px;
}

.changeLanguageButton:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%);
}

.filter-avatar {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(103%);
    zoom: 0.6;
    margin-right: 25px;
    margin-top: 10px;
}

.filter-avatar:hover {
    filter: invert(55%) sepia(98%) saturate(4756%) hue-rotate(148deg) brightness(100%);
}

.filter-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(103%);
}

.filter-company {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(103%);
    zoom: 0.9;
    margin-right: 25px;
    margin-top: 10px;
}

.filter-company:hover {
    filter: invert(55%) sepia(98%) saturate(4756%) hue-rotate(148deg) brightness(100%);
}

.filter-menu {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(103%);
    zoom: 0.9;
    margin-right: 20px;
    margin-top: 10px;
}

.filter-menu:hover {
    filter: invert(55%) sepia(98%) saturate(4756%) hue-rotate(148deg) brightness(100%);
}

mat-toolbar {
    background-color: #1E232B;
    height: 13%;
}

.nav-menu {
    zoom: 0.9;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-menu:hover {
    filter: invert(55%) sepia(98%) saturate(4756%) hue-rotate(148deg) brightness(100%);
}
