$margin: 50px;

//Login i register css

::ng-deep .popup {
  width: 350px;
  zoom: 0.9;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

::ng-deep .register {
  flex-direction: column;
}

::ng-deep .register span {
  font-size: 15px;
  line-height: 18px;
}

::ng-deep .radio-group {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

::ng-deep .wrapper {
  display: flex;
  flex-direction: column;

  .one, .two, .three, .four, .five {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep .wrapper .one {
  text-transform: Uppercase;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

::ng-deep .wrapper .three, .wrapper .four {
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 280px;
    margin-top: 1rem;
  }
}

::ng-deep.buttonRegisterLogin {
  background: none;
  border: none;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
  color: #00A993;
}

::ng-deep.buttonRegisterLogin:hover {
  color: black;
}

::ng-deep.registerButton, ::ng-deep.loginButton{
  height: 50px !important;
  background: #059E8B !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-weight: 400 !important;

  span {
    color: white;
  }
}

::ng-deep.applyButtonPopUp {
  height: 50px !important;
  background: rgba(1, 133, 116, 0.9) !important;
  margin-bottom: 1rem !important;
  font-weight: 400 !important;

  span {
    color: white;
  }
}

::ng-deep .wrapperUser {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  max-width: 1280px;
  width: 100%;
  border-radius: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50vh;
}

//Background image for pages

::ng-deep .page {
  background-color: #D9D9D9;
  background-image: url('../assets/images/Background_logo_LG.png');
  min-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
}

::ng-deep.main:before {
  background-image: url("../assets/icons/logo.svg");
  filter: invert(82%) sepia(1%) saturate(17%) hue-rotate(314deg) brightness(101%) contrast(85%);
  background-size: 300px 300px;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 5000px;
  height: 5000px;
  top: -2500px;
  left: -2500px;
  z-index: -1;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-footer {
  margin-top: auto; /* Push the footer to the bottom */
}

::ng-deep.jobOffers {

  .offer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    button {
      height: 50px;
      background-color: rgba(1, 133, 116, 0.9);
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 10px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 400
    }

    .left {
      display: flex;

      .avatar {
        width: 75px;
        height: 75px;
        border-radius: 5px;
      }

      .companyName {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .jobName {
          color: rgba(1, 133, 116, 0.9);
          font-weight: normal;
          font-size: 20px;

          a {
            text-decoration: none;
            color: dimgray;
          }
          a:hover {
            color: #2a2839;
          }
        }
      }
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;

      .tags {
        display: flex;
        zoom: 0.8;

        .tag {
          border-style: solid;
          margin-right: 20px;
          padding: 10px;
          color: rgba(1, 133, 116, 0.9);
        }

        .tag:last-child {
          margin-right: 0;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 20px;

      p {
        margin: 5px 0 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}

::ng-deep .about {
  margin-top: $margin;
  word-wrap: break-word;

  p {
    margin: 0;
  }

  .aboutInfo {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
