<footer>
  <div class="wrapperFooter">
    <div class="one">
     <a href="about">{{'Footer.About us' | translate}}</a>
    <a href="terms">{{'Footer.Terms and Conditions' | translate}}</a>
<!--      <a href="">{{'Footer.Privacy policy' | translate}}</a>-->
    </div>
    <div class="two">
      <span>{{'Footer.Contact us' | translate}}</span>
      <span>ul. Piękna 20b / 37, 60-651 Poznań <br> checkyourself@gmail.com</span>
    </div>
    <div class="three">
<!--      <a href="">{{'Footer.How Check Yourself works' | translate}}</a>-->
<!--      <a href="">{{'Footer.Security policy' | translate}}</a>-->
<!--      <a href="">{{'Footer.News' | translate}}</a>-->
    </div>
  </div>
</footer>
