.selector {
    // background-color: aqua ;
}

.selector2 {
    // background-color: aquamarine;
}

.date-picker {
    // padding-left: 15px;
    // width: 80%;
}

.slider {
    margin-top: 10px;
}

.phone-hint {
    color: grey;
    font-size: xx-small;
}

mat-slider {
    width: 220px;
  }

.material-icons-outlined {
  margin-right: 10px;
}
