$margin: 50px;

.sections {
  width: 80%;
  margin-left: auto;
  margin-right: auto;


  .technology, .tools, .platforms, .gallery, .map {
    margin-top: $margin;

    p {
      margin-bottom: 30px;
    }
  }

  .map {
    height: 100%;
    margin-bottom: $margin;
  }

  & .upheader {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 20px;

    button {
      margin-left: 20px;
    }

    .edit-button {
      display: flex;
      margin-bottom: 5%;
      cursor: pointer;

      span {
        margin-left: 5px;
      }
    }
  }

  & .header {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;

      .companyName {
        min-width: 200px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .company {
            cursor: pointer;
          }
        ;

        }

        span {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;

      div {
        margin-bottom: 10px;
      }

      mat-icon {
        margin-left: 25px;
        margin-right: 10px;
      }
    }

    & .avatar {
      width: 135px;
      height: 135px;
      border-radius: 10%;
    }
  }
}

.technology {
  span {
    margin-left: 10px;
  }
}

.applyButton {
  border-style: solid;
  border-color: rgba(1, 133, 116, 0.9);
  border-width: 1px;
}

.tasksExpectations {
  margin-top: $margin;
  display: flex;
  justify-content: space-around;

  .sectionHeader {
    margin-bottom: 10px;
  }

  p {
    margin-left: 15px;
  }
}
